@import "mixins";

.transition-hidden {
  opacity: 0;
}

.transition-visible {
  opacity: 1;
}

.is-transitioning {
  display: block !important;
  visibility: visible !important;
}

#lightboxOverlay, #lightbox, .lb-image {
  @include transition(opacity 0.4s ease);
  
  &.transition-hidden {
    display: none;
    opacity: 0;
  }
}

#lightboxOverlay {
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000;
  @include opacity(0.85);
}

#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-weight: normal;
  
  a img {
    border: none;
  }
}

.lb-outerContainer {
  position: relative;
  background-color: #fff;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  @include border-radius(4px);
  @include transition(height 0.7s ease, width 0.7s ease);
}

.lb-container {
  padding: 10px;
}

.lb-progress-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.lb-progress {
  background: url("../images/loading.gif");
  height: 32px;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  position: absolute;
  top: 50%;
  width: 32px;
}

.lb-nav {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.lb-prev, .lb-next {
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"); /* Trick IE into showing hover */
  bottom: 0;
  height: 100%;
  outline: none;
  position: absolute;
  top: 0;
  width: 49%;
}

.lb-prev {
  left: 0;
  
  &:hover {
    background: url(../images/prev.png) left 48% no-repeat;
  }
}

.lb-next {
  right: 0;
  
  &:hover {
    background: url(../images/next.png) right 48% no-repeat;
  }
}

.lb-dataContainer {
  margin: 0 auto;
  width: 100%;
}

.lb-data {
  color: #bbb;
  padding: 5px 10px 0 10px;
  
  .lb-details {
    line-height: 1.1em;
    text-align: left;
  }
  .lb-caption {
    font-size: 13px;
    font-weight: bold;
  }
  .lb-number {
    display: block;
    font-size: 11px;
  }
}

.lb-close {
  background: url("../images/close.png") no-repeat;
  cursor: pointer;
  height: 27px;
  outline: none;
  position: absolute;
  right: 0;
  top: -35px;
  width: 27px;
}