@import "mixins";

.is-transitioning {
  display: block !important;
  visibility: visible !important;
}

#lightboxOverlay, #lightbox {
  @include transition(opacity 0.4s ease-in-out);
  
  &.transition-hidden {
    display: none;
    opacity: 0;
  }
}

.lb-image {
  @include transition(opacity 0.4s ease-in-out);
  
  &.transition-hidden {
    opacity: 0;
    @include transition(opacity 0s ease-in-out);
  }
}

#lightboxOverlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  @include opacity(0.8);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

#lightbox {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;

  a img {
    border: none;
  }
}

.lb-outerContainer {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  @include transition(width 0.5s ease-in-out);
  width: 400px;
}

.lb-container {
  height: 400px;
  position: relative;
  @include transition(height 0.5s ease-in-out);
}

.lb-progress-container, .lb-nav {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.lb-progress-container {
  background: #fff url('../images/loading.gif') no-repeat center center;
}

.lb-prev, .lb-next {
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"); /* Trick IE into showing hover */
  bottom: 0;
  height: 100%;
  outline: none;
  position: absolute;
  top: 0;
  width: 49%;
}

.lb-prev {
  left: 0;
  
  &:hover {
    background: url('../images/prev.png') left 48% no-repeat;
  }
}

.lb-next {
  right: 0;
  
  &:hover {
    background: url('../images/next.png') right 48% no-repeat;
  }
}

.lb-titleContainer {
  background-color: #f2f2f2;
  color: #808080;
  font-size: 12px;
  line-height: 1.3em;
  margin: 0 auto;
  min-height: 14px;
  padding: 5px 0 15px 0;
  position: relative;
  text-align: left;
  width: 100%;
  
  .lb-number {
    left: 0;
    position: absolute;
  }
  
  .lb-title {
    font-weight: bold;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
  }
}

.lb-close {
  color: #666;
  cursor: pointer;
  font-size: 20px;
  height: 22px;
  line-height: 22px;
  outline: none;
  position: absolute;
  right: 10px;
  text-align: center;
  text-decoration: none;
  top: 11px;
  width: 22px;
  
  &:hover {
    color: #333;
    text-decoration: none;
  }
}